.ping_zhong .pu-kong{
  padding-left: 20px !important;
padding-right: 20px !important;
box-sizing: border-box;
}
.ping_da .index-index .tb{
  height: 510px !important;
}
.ping_zhong .index-index .tb{

}
.ping_da .index-index .blimg{
  height: 550px !important;
}